.photo-container{
    margin-bottom: .5rem;
    .photo{
        padding: .5rem;
    }
    .photo-likes{
        position: absolute;
        right: 1rem;
        top: 1rem;
    }
    .photo-title{
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
    }
}